.git
.github
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/package
build
output
.playwright
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
.env.*
.claude
.vscode
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
backend/__pycache__
backend/**/*.pyc
.idea
venv
backend/.venv
_old
uploads
.ipynb_checkpoints
check.log
nul
codeHaloWebUIsrclibdataagents-zh.json
/C:*
**/*:Zone.Identifier
**/*.db
_test
backend/data/*
backend/open_webui/static/pyodide
static/pyodide
